<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>housejeffries</title>

  <link rel="alternate" type="application/atom+xml"
    href="/feed.xml" title="Atom Feed" />

  <!-- Style -->
  <link rel="stylesheet" href="/css/minimal.css">

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax-highlighting.css">

  <!-- Google Font's --> 
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>

  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.ico">
</head>


<body>
  
  <header> 
    <h1> Ian "the man" Jefferies </h1>
  </header>

  $body$

  <footer>
    <p>  We should <a href="https://github.com/seagreen/housejeffries"> fork </a> sometime <p>
  </footer>

</body>
</html>
