<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>housejeffries</title>

  <link rel="alternate" type="application/atom+xml"
    href="/feed.xml" title="Atom Feed" />

  <!-- Style -->
  <link rel="stylesheet" href="/css/minimal.css">

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax-highlighting.css">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.ico">
</head>


<body>

  $body$

  <a href="https://github.com/seagreen/housejeffries"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/images/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>

</body>
</html>
